b{
    font-weight: 500;
}

/*|--- -- INICIO: POPUP -- ---|*/

.popup{
    position: fixed;
    top: 0;
    left: 0;
    display: flex !important;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100vh;
    padding: 24px 16px 40px;
    transform: translateX(0%);
    background-color: #fff;
    z-index: 1000;
    transition: transform .3s ease 0s;
}

.popup.hidde{
    transform: translateX(100%);
}

.popup__ttl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-size: 24px;
    line-height: 1.75rem;
    letter-spacing: 0.016rem;
    font-weight: 300;
    color: #10004f;
}

.popup__close{
    width: 20px;
    color: #5c5c5c;
}

.popup__content{
    flex: 1;
    height: 80%;
}

.popup__element{
    position: relative;
}

.popup__element.hidde{
    display: none;
}

.popup__lbl{
    position: absolute;
    left: 2px;
    top: -10px;
    padding: 0px 0.5rem;
    color: #5c5c5c;
    background: #fff;
    transform: scale(0.75);
}

.popup__input{
    height: 56px !important;
    padding: calc(-1px + 1rem) 1rem !important;
    font-size: 16px;
    color: #000 !important;
    font-style: normal !important;
    outline-color: #1c0388;
}

.popup__input:focus ~ .popup__lbl{
    color: #1c0388;
}

.popup__btn{
    width: 100%;
    padding: 15px 17px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #ed1650;
    border: 1px solid #ed1650;
    z-index: 99999;
}

.popup__ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
}

.popup__ul.hidde{
    display: none;
}

.popup__li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.popup__mark{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.popup__mark.active{
    position: relative;
    border-color: #ED1650;
}

.popup__mark.active::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 100%;
    background-color: #ED1650;
}

.airport{
    height: 90%;
    margin-top: 30px;
    padding: 0 10px;
    overflow-y: scroll;
}

.airport__element{
    position: relative;
    width: 100%;
    padding: 16px 18px 12px 40px;
    line-height: 1.15;
    color: #1b0088;
    background: none;
    border-bottom: 1px solid #eeedf9;
    cursor: pointer;
}

.airport__element:last-child{
    border: none;
}

.airport__element svg{
    position: absolute;
    top: 22px;
    left: 15px;
    width: 16px;
    height: 15px;
    color: #11837c;
}

.airport__first{
    font-size: 18px;
}

.airport__last{
    font-size: 14px;
}

.airport-error{
    position: relative;
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-top: 20px;
    padding: 1rem;
    color: rgb(16, 0, 79);
    border-radius: 0.5rem;
    background-color: rgb(255, 249, 230);
    border: 0.0625rem solid rgb(255, 249, 230);
}

.airport-error.hidde{
    display: none;
}

.airport-error svg{
    margin-top: 4px;
    width: 35px;
    color: #d87706;
}

.airport-error__msj{
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(16, 0, 79);
}

.date{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.date__content{
    width: 50%;
    padding: 0px 1rem;
}

.date__line{
    width: 0px;
    height: 24px;
    margin-right: 20px;
    border: 1px solid #b8b8b8;
}

.date__ttl{
    line-height: 12px;
    font-size: 12px;
    color: #858585;
}

.date__choose{
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: #138d86;
}

.date__days{
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 12px 0 7px;
}

.date__ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 320px;
    margin: 0 auto;
}

.date__li{
    width: 100%;
    margin: 0 auto; 
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #11837c;
}

.calendar{
    margin-top: 40px;
    height: 90%;
    overflow-y: scroll;
}

.calendar__month{
    max-width: 320px;
    margin: 0 auto 40px;
    padding: 0px 13px;
}

.calendar__month-date{
    margin-bottom: 16px;
    line-height: 24px;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #10004f;
}

.calendar__month-content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.calendar__month-content div{
    max-width: 44px;
    height: 40px;
    padding-top: 11px;
    padding-left: 11px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.calendar__day-none{
    color: #858585;
    border: 1px solid #f3f2f6;
    background-image: url(/assets/img/calendarNone.svg);
}

.calendar__day-available{
    color: #5c5c5c;
    border: 1px solid #b8b8b8;
}

.calendar__day-available.selected{
    color: #ffffff;
    background: #2d34ce;
    border: 1px solid #00b5ad;
}

.calendar__day-available.passing {
    color: rgb(21, 0, 103);
    background: rgb(222, 220, 242);
    border: 1px solid rgba(45, 52, 206, 0.15);
}

.passengers{
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.passengers::-webkit-scrollbar {
    display: none;
}

.passengers__element{
    width: 100%;
    min-height: 56px;
}

.passengers__content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

.passengers__element svg{
    width: 15%;
}

.passengers__txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.passengers__ttl{
    line-height: 19px;
    font-size: 16px;
    color: #303030;
}

.passengers__ttl p:last-child{
    font-size: 12px;
}

.passengers__choose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.passengers__choose svg{
    width: 100%;
    cursor: pointer;
}

.passengers__alert{
    display: flex;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 8px;
    color: rgb(16, 0, 79);
    background-color: rgb(238, 237, 249);
    border: 0.0625rem solid rgb(238, 237, 249);
}

.passengers__alert--error{
    background-color: rgb(251, 238, 242);
}

.passengers__alert .passenger__icon{
    width: max-content;
    height: 21px;
}

.passengers__alert-txt p{
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 400;
}

.passengers__alert-txt span{
    display: flex;
    align-items: center;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.passengers__alert-txt--mt span{
    margin-top: 0;
}

.passengers__line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/*|--- -- FIN: POPUP -- ---|*/

.fly{
    padding: 16px 0px 88px;
    background: linear-gradient(rgb(16, 0, 79) 0%, #2d34ce 22.14%);
}

.fly__content{
    padding: 0 16px;
}

.fly__menu{
    position: relative;
    display: flex;
    gap: 10px;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 6px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 10;
}

.fly__menu::-webkit-scrollbar {
    display: none;
}

.fly__op{
    position: relative;
    width: max-content;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: lighter;
    text-wrap: nowrap;
    text-align: center;
    background-color: #fff;
}

.fly__op.active{
    border-radius: 8px 8px 0 0;
    font-weight: 500;
    box-shadow: #e8114b 0px 0.25rem 0px 0px inset;
}

.fly__op.active::before{
    content: "";
    background-color: rgb(255, 255, 255);
    left: 0px;
    right: 0px;
    top: 97%;
    height: 1rem;
    position: absolute;
}

.fly__op.active::after{
    content: "";
    position: absolute;
    top: 95%;
    left: 100%;
    background-color: transparent;
    width: 20px;
    height: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgb(255, 255, 255) -8px 0px 0px 0px;
}

.fly__arrows{
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    z-index: 1;
}

.fly__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #fff;
    background-color: #ED1650;
}

.fly__box{
    padding: 20px 16px 16px;
    border-radius: 8px;
    background-color: #fff;
}

.fly__where{
    font-size: 26px;
    line-height: 31px;
    font-weight: normal;
    font-style: italic;
    color: rgb(27, 0, 136);
}

.fly__type{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.fly__type p{
    font-size: 14px;
    font-weight: 600;
    color: #858585;
}

.fly__type span{
    margin-right: 0.2rem;
    font-family: "LATAM Sans", "Trebuchet MS", sans-serif;
}

.fly__icon-arrow{
    vertical-align: middle;
    fill: #ED1650;
}

.fly__element{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.fly__element--line{
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.fly__input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0px 10px;
    border-radius: 8px;
    font-style: italic;
    color: #7c7c7c;
    background: #fff;
    border: 1px solid rgb(133, 133, 133);
}

.fly__input--txt{
    font-style: normal;
    color: #303030;
}

.fly__input--txt-date{
    font-size: 16px;
    font-weight: lighter;
    color: #303030;
}

.fly__input--txt-date span{
    text-transform: capitalize;
}

.fly__content-person{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
}

.fly__content-person span{
    font-size: 16px;
    font-style: normal;
    color: rgb(48, 48, 48);
}

/* CHECK BOX */

.checkbox-container {
    position: relative;
    display: block;
    padding-left: 40px;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #4658df;
}

.checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    display: none;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-checkbox:checked~.checkmark {
    background-color: #4658df;
}

.custom-checkbox:checked~.checkmark:after {
    display: block;
}

.checkbox__txt{
    line-height: 1.5rem;
    font-size: 16px;
    font-style: normal;
    font-weight: lighter;
    letter-spacing: 0.013rem;
    color: rgb(92, 92, 92);
}

.checkbox__txt b{
    font-weight: 600;
}

.trash{
    padding: 0 16px;
}

.trash__content{
    transform: translateY(-66px);
}

.box__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box{
    width: 100%;
    max-width: 52.125rem;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(48, 48, 48, 0.1) 0px 0.25rem 0.5rem;
}

.box__img{
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
}

.box__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 8px 8px;
}

.box__btn{
    width: max-content;
    padding: 0.625rem 1rem 0.5rem;
    border-radius: 6.25rem;
    font-size: 12px;
    color: #fff;
    background: #cd1043;
}

.box__txt{
    line-height: 24px;
    font-size: 22px;
    font-weight: 400;
}

.box__txt--small{
    font-size: 20px;
}

.box__sub{
    font-size: 17px;
    color: #5c5c5c;
}

.box__link{
    margin-top: 4px;
    font-weight: 600;
    color: #4658df;
    text-decoration: underline;
}

.other{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.other__element{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
}

.other__icon{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #eeedf9;
}

.other__icon svg{
    height: 32px;
}

.other__txt{
    font-size: 14px;
    font-weight: 600;
}

.other__arrow{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    height: 16px;
    color: rgb(184, 184, 184);
}

.trash__txt{
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
}

.footer{
    padding-top: 50px;
    border-top: 1px solid #8585851f;
}

.footer__top{
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
}

.footer__element{
    width: 50%;
    padding: 0 8px 24px 0;
}

.footer__ttl{
    min-height: 32px;
    font-size: 16px;
    color: rgb(16, 0, 79);
    font-weight: 600;
}

.footer__ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__li{
    list-style: none;
    font-size: 14px;
    color: #5c5c5c;
}

.footer__end{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    padding: 32px 16px 28px;
    text-align: center;
    background-color: rgb(236, 236, 238);
    border-top: 0.0625rem solid rgb(184, 184, 184);
}

.footer__logo{
    height: 32px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.footer__txt{
    display: block;
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-bottom: 16px;
}


.cbx{
  display:flex;
  align-items:center;
  gap:.6rem;
  cursor:pointer;
}
.cbx__input{
  width:18px;
  height:18px;
  accent-color:#e8114b; /* tu rosa */
  cursor:pointer;
}
.cbx__txt{
  line-height:1.3;
}

/* Botón Continuar */
#btnContinue[disabled] {
  cursor: not-allowed;
  opacity: .7;            /* opcional, para que se note deshabilitado */
}

#btnContinue:not([disabled]) {
  cursor: pointer;
}

/* Aplica también a los "Confirmar datos" dentro de cada sección */
.form__btn[disabled] {
  cursor: not-allowed;
  opacity: .7;
}

.form__btn:not([disabled]) {
  cursor: pointer;
}